.nav-main-div{
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
    background: #000;
    padding: 10px;
    position: fixed;
    z-index: 5;
}

.nav-sub-div{
width: 85%;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;

}
.nav-sub{
    text-decoration: none;
    color: rgb(238, 13, 13);
}

.login-btn{
    padding-left: 10px;
    padding-right: 10px;
}
.cart-btn{

    padding-right: 10px;
    border-radius: 20%;
}
.cart-item-no{
    position: absolute;
    color: white;
    padding: 10px;
    background-color: rgb(64, 222, 47);
    border-radius: 50%;
    right: -24px;

}
.active{
    color: gray;
}

 